@import 'styles/utils.scss';

.InputWrapper {
  width: calc(100% - 40px);
  margin: 20px 0;
  height: 100%;
  background-color: white;
  padding : 0 20px;
  .WrapperHeader{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color : $inputLetter;
  }
  .InputForm {
    height: calc(100% - 70px);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 100px);
    font-size : 20px;
    div {
      border-bottom : 1px solid $inputUnderLine;
      display: flex;
      align-items: center;
    }
    div:nth-child(2n) {
      color : $inputContent;
    }
    div:nth-child(2n-1) {
      color : $inputLetter;
      font-weight: 700;
    }
    .YearVacation {
      grid-row: span 2;
    }
    .YearVacationCnt {
      font-size : 40px;
    }
  }
  @media screen and (max-width : 780px) {
    .InputForm {
      display: grid;
      grid-template-columns: 150px 1fr;
      grid-template-rows: unset;
      grid-auto-rows: 80px;
      height: unset;
      div:nth-child(2n) {
        color : $inputContent;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      div:nth-child(2n-1) {
        color : $inputLetter;
        font-weight: 700;
        font-size : 20px;
      }
    }
  }
}