@import 'styles/utils.scss';

.HeaderWrapper {
  display: flex;
  align-items: center;
  height: 100%;
  .Search { 
    padding-left : 10px;
    input {
      font-size: 20px;
      height: 100%;
    }
  }

  .Navbar {
    display: flex;
    align-items: center;
    height: 100%;
    nav , button {
      font-weight: 550;
      height: 100%;
      background-color: rgb(221, 221, 221);
    }
    nav {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      a {
        font-weight: 550;
      }
    }
    @media screen and (min-width : 480px) {
      nav, button {
        font-size : 15px;
      }
    }
  }
}
