@import 'styles/utils.scss';

.NoticeItemWrapper {
  display: flex;
  height: 80px;
  padding : 15px 0;
  border-bottom: 0.5px solid $inputContent;
  justify-content: space-between;
  cursor: pointer;
  font-weight: 520;
  .NoticeTitle {
    color : black;
    font-size: 16px;
  }
  .NoticeDate {
    display: flex;
    align-items: flex-end;
    color : $inputLetter;
    font-size : 12px;
  }
 
}
@media screen and (min-width : 768px) {
  .NoticeItemWrapper {
    align-items: center;
    .NoticeTitle {
      flex : 8;
      font-size : 20px;
      padding-left: 20px;
    }
    .NoticeDate {
      flex : 2;
      justify-content: center;
      font-size : 20px;
      color : black;
    }
  }
}