@import 'styles/utils.scss';


main {
  flex : 4;
  background-color :white;
  display : flex;
  flex-direction: column;
  .SectionHeader {
    height: 80px;
  }
  .SectionContents {
    background-color: $mainBackColor;
    display : flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    height: 100%;
  }
}