@import 'styles/utils.scss';

main {
  grid-area: m;
  background-color: white;
  .SectionHeader {
    height: 100px;

  }
  .SectionContents{
    background-color: $mainBackColor;
    height: 100%;
    display : flex;
    flex-direction: column;
    padding : 0 30px;
  }
}