@import 'styles/utils.scss';


main {
  flex : 4;
  background-color :white;
  
}
// main {
  //   grid-area: m;
  //   width: 100%;
  //   background-color: white;
//   .SectionHeader {
//     height: 100px;
//   }
//   @media screen and (max-width : 486px) {
//     .SectionHeader {
//       height: 50px;
//     }
//   }
//   .SectionContents{
//     background-color: $mainBackColor;
//     height: calc( 100% - 100px );
//     display : flex;
//     flex-direction: column;
//     padding : 0 30px;
//   }
// }