@import 'styles/utils.scss';

.LayoutBack {
  @include ArrangeCenter();
  .Layout {
    height: 90%;
    width : 90%;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width : 1300px) and (min-height : 700px) {
  .LayoutBack {
      height: 100vh;
  }
}
@media screen and (min-width : 1024px) and (min-height : 695px) {
  .LayoutBack {
      height: 100vh;
    .Layout {
      flex-direction: row;
      margin : 0;
    }
  }
}

.Detail {
  .Layout {
    margin: 20px 0;
  }
}
.List {
  height: 100vh;
}

.Attendance {
  .Layout {
    margin : 20px 0;
  }
}

.Notice {
  height: 100%;
  .Layout {
    margin : 20px 0;
  }
}