@import 'styles/utils.scss';

.LayoutBack {
  @include ArrangeCenter();
  .Layout {
    height: 90%;
    width : 90%;
    display: flex;
    flex-direction: column;
  }
}

.Detail {
  .Layout {
    margin: 20px 0;
  }
}

.List {
  height: 100vh;
}

.Attendance {
  .Layout {
    margin : 20px 0;
  }
}

.Notice {
  .Layout {
    margin : 20px 0;
  }
}