@import 'styles/utils.scss';


.SubHeaderWrapper {
  display: flex;
  height: 40px;

  .Line {
    border-bottom: 0.5px solid $inputContent;
    width: calc(100%);
  }

  .CurPage {
    display: flex;
    width: 200px;
    color: $curPageName;
    justify-content: space-between;
    a {
      display: flex;
      font-weight: 600;
      span {
        border-bottom: 2px solid $curPageName;
        letter-spacing: 2px;
        // height: 40px;
      }
    }
  }
}