@import "styles/utils.scss";

.Workerlist_layout {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  margin-bottom: 20px;
  .Category_bar {
    display: none;  
  }  
  ul {
    .EmptyBox {
      height: 40vh;
    }
  }
}

@media (min-width: 768px) {
  .Workerlist_layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    ul {
      .EmptyBox {
        height: 55vh;
      }
    }
  }
}

@media (min-width: 1024px) {
  .Workerlist_layout {
    display: inline;
    .Category_bar{
      display: flex;
      justify-content: space-around;  
      width: 100%;
      background-color: #D9E2E7;
      color: #96A5B2;
      font-size: 15px;
      font-weight: 700;
      line-height: 50px;
      text-align: center;  
      .Category_ID{
        width: 15%;    
      }
      .Category_name{
        width: 15%;    
      }
      .Category_grade{
        width: 15%;    
      }
      .Category_phone{
        width: 30%;    
      }
      .Category_date{
        width: 25%;    
      }
    }    
  } 
}





// .Workerlist_layout {
//   margin-bottom: 40px;
//   .Category_bar{
//     display: flex;
//     justify-content: space-around;  
//     width: 100%;
//     background-color: #D9E2E7;
//     color: #96A5B2;
//     font-size: 15px;
//     font-weight: 700;
//     line-height: 50px;
//     text-align: center;
    
//     .Category_ID{
//       width: 15%;    
//     }
//     .Category_name{
//       width: 15%;    
//     }
//     .Category_grade{
//       width: 15%;    
//     }
//     .Category_phone{
//       width: 30%;    
//     }
//     .Category_date{
//       width: 25%;    
//     }
//   }
//   .Workerlist_bar {
//     display: flex;
//     justify-content: space-around;  
//     width: 100%;
//     background-color: #ffffff;
//     color: #9ba7b4;
//     font-size: 15px;
//     line-height: 80px;
//     text-align: center;
//     border-bottom: 1px solid #e3ecf1;
//     .Content_ID{
//       width: 15%;    
//     }
//     .Content_name{
//       width: 15%;
//       color: #28a9ed ;  
//     }
//     .Content_grade{
//       width: 15%;    
//     }
//     .Content_phone{
//       width: 30%;    
//     }
//     .Content_date{
//       width: 25%;    
//     }
//   }
// }