


//컬러
$backgroundColor : #B1BED9;
$asideColor : #2A58AD;
$mainBackColor : #EAEEF1;
$gradeColor : #7E8285;
$curPageName : #35AAE7;
$workerName : #CCD2D5;
$activeColor : #67BA2F;
$inputUnderLine : #E0E8EC;
$inputLetter : #8694A3;
$inputContent : #9BA7B4;

@mixin ArrangeCenter {
  display : flex;
  justify-content: center;
  align-items: center;
}

@mixin infoWrapper {
  background-color: white;
  margin: 20px 0;
  height: 100%;
  padding : 0 20px;
}
@mixin infoHeader {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color : $inputLetter;
}