@import 'styles/utils.scss';


.SubHeaderWrapper {
  display: flex;
  height: 40px;
  .Line {
    border-bottom: 0.5px solid $inputContent;
    width : calc(100% - 120px);
  }
  .CurPage {
    display : flex;
    width : 120px;
    color : $curPageName;
    justify-content: space-between;
    font-weight: 600;
    span {
      border-bottom: 2px solid $curPageName;
      letter-spacing: 2px;
    }
  }
}