@import 'styles/utils.scss';

.ContentsHeader {
  display : flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom : 20px;
  height: 80px;
  .Worker {
    display: flex;
    flex-direction : column;
    justify-content: center;
    flex: 1;
    .WorkerGrade {
      font-size : 20px;
      font-weight: 600;
      color : $gradeColor;
    }
    .WorkerName {
      font-size: 12px;
      font-weight : 500;
      color : $workerName;
    }
  }
  .FunctionIcon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex : 1;
    .WorkerStatus {
        border-radius: 20px;
        border: 1px solid $workerName;
        width: unset;
      }
      .ResetInput , .EditInput, .Delete {
        border : 1px solid $workerName;
        border-radius: 50%;
      }
      .ResetInput , .EditInput, .Delete, .WorkerStatus {
        padding : 5px;
        background-color: white;
      }
  }
}