.Category_bar{
  display: flex;
  justify-content: space-around;  
  width: 100%;
  background-color: #D9E2E7;
  color: #96A5B2;
  font-size: 25px;
  font-weight: 700;
  line-height: 80px;
  text-align: center;
  
  .Category_menu1{
    width: 15%;    
  }
  .Category_menu2{
    width: 15%;    
  }
  .Category_menu3{
    width: 15%;    
  }
  .Category_menu4{
    width: 30%;    
  }
  .Category_menu5{
    width: 25%;    
  }
}