@import 'styles/utils.scss';

.UserInfoWrapper{
  @include ArrangeCenter();
  flex-direction: column;
  padding: 2vh;
  .Img {
    width: 30%;
  }
  .UserName {
    color : $workerName;
  }
  .UserGrade {
    color : $curPageName;
  }
}