@import "styles/utils.scss";

.Error_layout {
  @include ArrangeCenter();
  height: 100vh;
    .textbox{
    font-size: 80px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    }
    @media(max-width: 375px) {
      .textbox {
        font-size: 50px;
      }
    }
}

