html, body {
  background-color :  #B1BED9;
}
html, body, h1, h2, h3, h4, h5, h6, p, div, footer, button, section, form, input, ul, ol, li, nav, img, a {
  font-size: 12px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 400;
  margin: 0;
  width : 100%;
  /* height : 100%; */
  padding: 0;
  border: 0;
  font-family: sans-serif cursive;
}
ul, ol {
  list-style: none;
}
button {
  cursor: pointer;
}
a {
  font-size: 1.2rem;
}
a, a:hover {
  text-decoration: none;
  color: black;
}