body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  background-color: #C8D3E0;
}
* {
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 1250px;
}
@media screen and (max-width : 486px) {
  #root {
    height: unset;
  }
}
a {
  text-decoration: none;
  color : inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
