@import 'styles/utils.scss';

.InputWrapper {
  @include infoWrapper();
  .WrapperHeader {
    @include infoHeader();
  }
  .InputForm {
    height: calc(100% - 60px);
    display: grid;
    grid-template-columns: 30vw calc(100% - 30vw);
    grid-template-rows: repeat(11, 50px);
    // grid-template-areas:  
    // "UY UYC"
    // "UY UYC"
    // "AY AYC"
    // "AY AYC"
    // "TY TYC"
    // "TY TYC";
    div {
      border-bottom : 1px solid $inputUnderLine;
      display: flex;
      align-items: center;
      width: 100%;
      background-size: cover; 
      font-size : 15px;
      word-break: break-all;
    }
    div:nth-child(2n) {
      color : $inputContent;
      font-size : 20px;
    }
    div:nth-child(2n-1) {
      color : $inputLetter;
      font-weight: 700;
    }
    .UsedYv, .UsedYvCnt , .AvailableYV, .AvailableYvCnt,  .TotalYv, .TotalYvCnt{
      grid-row : span 2;
    }
  }

  @media screen and (min-width : 768px) {
    .InputForm {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(6, 100px);
      grid-template-areas:  
      "UY UYC"
      "UY UYC"
      "AY AYC"
      "AY AYC"
      "TY TYC"
      "TY TYC";
      .UsedYv {
        grid-area : UY;
      }
      .UsedYvCnt {
      grid-area : UYC;
      }
      .AvailableYV {
        grid-area : AY;
      }
      .AvailableYvCnt {
        grid-area : AYC;
      }
      .TotalYv {
        grid-area : TY;
      }
      .TotalYvCnt {
        grid-area : TYC;
      }
    }
  }
  @media screen and (min-width : 1024px) {
    .InputForm {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(4, 80px);
      grid-template-areas: 
      "UY UYC AY AYC TY TYC"
      "UY UYC AY AYC TY TYC"
      ;
    }
  }
}